@font-face {
    font-family: Roboto-normal;
    src: url('./assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: RobotoBoldItalic;
    src: url('./assets/fonts/Roboto-BoldItalic.ttf');
}


* {
    box-sizing: border-box;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
}


.nav-list {
    list-style: none; /*Убрали маркер списка*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}


.nav-link {
    color: black;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none; /*Убираем подчеркивание ссылок*/
    transition: 0.5s;
}


.nav-link:hover {
    color: red;
}


.main-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    border: 1px solid orangered;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-profile {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 20px 30px;
    text-align: center;
}
.profile-image {
    width: 126px;
    height: 126px;
}







/*.logo {
    width: 50px;
    height: 50px;
}*/


h1 {
    font: 45px RobotoBoldItalic;
}


html {
    scroll-behavior: smooth; /*плавная прокрутка при переходе на якорную ссылку*/
}


body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
